<html>
  <head>
    <title>Star optimizer</title>
    <style>
      .grid-container {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
	  gap: 0px 0px;
	  grid-template-areas:
	      ". . . . . ."
	      ". . . . . ."
	      ". . . . . .";
      }

      .drawing {
	  border-width: 6px;
	  border-style: solid;
	  border-color: white;
	  /* text-align: center; */
	  display: flex;
	  justify-content: center;
      }
    </style>
    <script type="text/javascript"
	    src="{{ url_for('static', filename='main.js') }}">
    </script>
  </head>
  <body>
    <form id="form" action="/optim" method="get" onsubmit="populate_form()">
      <button type="submit" autofocus>go</button>
      <a href="/">reset</a>
    </form>
    <!-- <form action="/" method="get"> -->
    <!--   <button type="submit">new</button> -->
    <!-- </form> -->
    <div class="grid-container">
      {% for star in stars: %}
      <div class="drawing"
	   id="{{ loop.index0 }}" onclick="click_fn({{ loop.index0 }})(event)">
	{{ star|safe }}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
